<section v-if="loginRole === '3'">
  <router-link to="/Dashboard/TestList">
    <b-button variant="primary">Go To Test List</b-button>
  </router-link>
  <div class="login-container">
    <div class="form-box">
      <label class="headingForm">Create Test</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container style="margin-bottom: 10px;" fluid>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Test Name:</label></b-col>
            <b-col sm="8">
              <b-form-input id="name" type="text" v-model="createtest.testname" required placeholder="Enter Test Name"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Test Time (In minutes):</label></b-col>
            <b-col sm="8">
              <b-form-input type="text" placeholder="Enter Test Time" v-model="createtest.testtime" required></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Negative Marking:</label></b-col>
            <b-col sm="8">
              <b-form-input type="text" placeholder="Enter Test Time" v-model="createtest.testtime" required></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Question Sort:</label></b-col>
            <b-col sm="8">
              <b-row class="my-1" v-for="(questionsort,key,index) in questionSortList" v-bind:key="key">
                <b-col sm="4">
                  <b-form-select class="mb-3 sortScaleClass" title="Scale" v-model="questionsort.scale" :options="scaleOptions" required>
                  </b-form-select>
                </b-col>
                <b-col sm="4">
                  <b-form-select class="mb-3 sortSubjectClass" title="Subject" v-model="questionsort.subject" :options="subjectOptions" required>
                  </b-form-select>
                </b-col>
                <b-col sm="4">
                  <b-form-input class="sortQuestionsClass" type="text" placeholder="No. of Questions" v-model="questionsort.numberquestions"
                    required></b-form-input>
                </b-col>
              </b-row>
              <b-button v-on:click="addRow()" style="float: left;" variant="primary"><b>+</b></b-button>
              <b-button v-on:click="removeRow()" v-if="toShowRemoveSort" style="float: left; margin-left: 10px;" variant="primary"><b>-</b></b-button>
            </b-col>
          </b-row>
        </b-container>
        <b-button type="submit" variant="primary">Create</b-button>
        <b-button type="reset" variant="secondary">Reset</b-button>
      </b-form>
    </div>
  </div>
</section>
