<section v-if="loginRole === '3' || loginRole === '2'">
   <router-link to="/Dashboard/TestList">
      <b-button variant="primary">Go To Test List</b-button>
   </router-link>
   <!--  <router-view></router-view> -->
   <div class="login-container">
      <div class="form-box">
         <label class="headingForm">{{submitButtonText}} Test</label>
         <br>
         <b-form>
            <b-container style="margin-bottom: 10px;" fluid>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Test Name*</label>
                  </b-col>
                  <b-col sm="8">
                     <b-form-input id="name" type="text" name="Test Name" v-validate="'required'" v-model="createtest.testName" placeholder="Enter Test Name"></b-form-input>
                     <span v-show="errors.has('Test Name')" class="help is-danger">{{ errors.first('Test Name') }}</span>
                  </b-col>
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Negative Marking(%)*</label>
                  </b-col>
                  <b-col sm="8">
                     <b-form-input type="number" name="Negative Marking" v-validate="'required|numeric'" placeholder="Enter Negative Marking %" v-model="createtest.negativeMarkingPercent">%</b-form-input>
                     <span v-show="errors.has('Negative Marking')" class="help is-danger">{{ errors.first('Negative Marking') }}</span>
                  </b-col>
                  <!-- <b-col sm="2">
                     <label for="input-none"><b>%</b></label>
                     </b-col> -->
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Valid From*</label>
                  </b-col>
                  <b-col sm="8">
                     <date-picker v-model="createtest.validFrom" placeholder="DD/MM/YYYY" v-validate="'required'" name="Valid From" :config="config" :limit="limit"></date-picker>
                     <span v-show="errors.has('Valid From')" class="help is-danger">{{ errors.first('Valid From') }}</span>
                  </b-col>
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Valid To*</label>
                  </b-col>
                  <b-col sm="8">
                     <date-picker v-model="createtest.ValidTo" placeholder="DD/MM/YYYY" v-validate="'required'" name="Valid To" :config="config"></date-picker>
                     <span v-show="errors.has('Valid To')" class="help is-danger">{{ errors.first('Valid To') }}</span>
                  </b-col>
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Batch*</label>
                  </b-col>
                  <b-col sm="8">
                     <multiselect v-model="createtest.batch" v-validate="'required'" name="Batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel">
                     </multiselect>
                     <span v-show="errors.has('Batch')" class="help is-danger">{{ errors.first('Batch') }}</span>
                  </b-col>
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Test Duration (In minutes)*</label>
                  </b-col>
                  <b-col sm="8">
                     <b-form-input type="number" placeholder="Enter Test Time" v-validate="'required|numeric'" name="Test Time" v-model="createtest.testTime"></b-form-input>
                     <span v-show="errors.has('Test Time')" class="help is-danger">{{ errors.first('Test Time') }}</span>
                  </b-col>
                  <!--  <b-col sm="2">
                     <label for="input-none">Minutes</label>
                     </b-col> -->
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">No. Of Questions*</label>
                  </b-col>
                  <b-col sm="8">
                     <b-form-input class="sortQuestionsClass" type="number" name="No. Of Questions" v-validate="'required|numeric'" placeholder="No. of Questions" v-model="createtest.noOfQuestions"></b-form-input>
                     <span v-show="errors.has('No. Of Questions')" class="help is-danger">{{ errors.first('No. Of Questions') }}</span>
                  </b-col>
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Teacher Name*</label>
                  </b-col>
                  <b-col sm="8">
                     <multiselect v-model="createtest.teacherId" name="Teacher" :options="teacherOptions" :multiple="true" v-validate="'required'" track-by="id" :custom-label="customLabel1">
                     </multiselect>
                     <span v-show="errors.has('Teacher')" class="help is-danger">{{ errors.first('Teacher') }}</span>
                  </b-col>
               </b-row>
               <b-row class="my-1">
                  <b-col sm="4">
                     <label for="input-none">Keep all questions with same marks</label>
                  </b-col>
                  <b-col sm="2" style="text-align: left;">
                     <label class="switch" style="width: 60px;">
                     <input v-model="createtest.keepquestionSamemarks" value="true" type="checkbox">
                     <span class="slider round"></span>
                     </label>
                  </b-col>
                  <b-col sm="6" v-show="createtest.keepquestionSamemarks">
                     <b-form-input class="sortQuestionsClass" type="number" placeholder="Enter Marks" v-model="createtest.sameMarksQuestions"></b-form-input>
                  </b-col>
               </b-row>
               <b-row>
                  <b-col v-if="checkedQuestions.length" sm="4">
                     <a style="color: blue; font-size: 15px; cursor: pointer;" @click='showSelectedQuestions()'><u>{{checkedQuestions.length}} Questions Selected</u></a>
                  </b-col>
                  <!-- <table class="table" v-show="checkedQuestions.length > 0">
                     <thead>
                       <th>Question Type</th>
                       <th>Batch</th>
                       <th>Subject</th>
                       <th>Question</th>
                       <th>Topic</th>
                     </thead>
                     <tbody>
                       <tr v-for="row in checkedQuestions">
                         <td>{{ row.scaleName }}</td>
                         <td class="fancy">{{ row.subjectName }}</td>
                         <td>{{ row.question }}</td>
                         <td>{{ row.topicName }}</td>
                       </tr>
                     </tbody>
                     </table> -->
               </b-row>
            </b-container>
            <!-- <router-link to="/Dashboard/CreateTest/SelectQuestionsView">
               <b-button variant="primary"><b>+ </b>Add</b-button>
               </router-link> -->
            <b-button variant="primary" @click="selectQuestions()">Select Questions</b-button>
            &nbsp;&nbsp;
            <!-- <router-link to="/CreateTest/SelectQuestionsView">
               <a href="" class="dashboard-module">
                           <img src="../../assets/images/scale.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_write.gif" width="64" height="64" alt="edit" />
                           <span>Scales</span>
                         </a>
               </router-link> -->
            <b-button @click='resetTestForm()' type="reset" variant="secondary">Reset</b-button>
            &nbsp;&nbsp;
            <b-button variant="primary" @click="createTestCall()" v-show="checkedQuestions.length > 0">{{submitButtonText}} Test</b-button>
         </b-form>
      </div>
   </div>
   <!-- Modal Component (To Select the Questions from Grid)-->
   <b-modal centered ref="listOfQuesModal" size="lg" v-model="showMOdal" title="Select Questions" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant">
      <b-container fluid>
         <b-row class="mb-1 text-center">
            <!--  <b-row class="my-1"> -->
            <b-col sm="1">
               <label for="input-none"><b>Filter By</b></label>
            </b-col>
            <b-col sm="3">
               <!--  <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Question Type">
                  </multiselect> -->
               <b-form-select v-model="createtest.categoryId" @change.native="categoryChange()" placeholder="Select Question" :options="questionTypeOptions" class="mb-3">
               </b-form-select>
            </b-col>
            <b-col sm="3">
               <!-- <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Subject">
                  </multiselect> -->
               <b-form-select v-model="createtest.subjectId" @change.native="subjectChange()" :options="subjectOptions" class="mb-3">
               </b-form-select>
            </b-col>
            <b-col sm="3">
               <!-- <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Topic">
                  </multiselect> -->
               <b-form-select v-model="createtest.topicId" :options="topicOptions" class="mb-3">
               </b-form-select>
            </b-col>
            <b-col sm="2">
               <b-button variant="success" @click="search()">S</b-button>
               <b-button variant="success" @click="reset()">R</b-button>
            </b-col>
         </b-row>
         </b-row>
         <br>
         <b-row class="mb-1 text-center">
            <b-col sm="12">
               <table class="table">
                  <thead>
                     <th>Question Type</th>
                     <th>Batch</th>
                     <th>Subject</th>
                     <th>Question</th>
                     <th>Topic</th>
                  </thead>
                  <tbody>
                     <tr v-for="row in rows">
                        <td>
                           <!--   <b-form-checkbox id="checkbox1" v-model="props.row.checked" value="true" unchecked-value="false" @click="updateObject(props.row)">{{props.row.checked}}
                              </b-form-checkbox> -->
                           <input type="checkbox" name="" v-model="row.checked">
                        </td>
                        <td>{{ row.scaleName }}</td>
                        <td class="fancy">{{ row.subjectName }}</td>
                        <td>{{ row.question }}</td>
                        <td>{{ row.topicName }}</td>
                     </tr>
                  </tbody>
               </table>
            </b-col>
         </b-row>
      </b-container>
      <div slot="modal-footer" class="w-100">
         <p class="float-left"></p>
         <b-btn size="sm" class="float-right" style="margin-left: 5px;" variant="secondary" @click="closeModal()">
            No
         </b-btn>
         <b-btn size="sm" class="float-right" variant="danger" @click="confirm(rows)">
            Yes
         </b-btn>
      </div>
   </b-modal>
   <!-- Modal Component -->
</section>
