<div v-if="loginRole === '3' || loginRole === '2'">
  <router-link to="/Dashboard/CreateTest">
    <b-button v-b-modal.modalAddInstitute variant="primary"><b>+ </b>Add Test</b-button>
  </router-link>
  <br>
  <div style="background-color: white; border: 3px solid #E9ECEF;">
    <vue-good-table title="Tests" :columns="columnsTests" :rows="testList" :paginate="true" :globalSearch="true" :lineNumbers="true"
                    styleClass="table table-bordered table-striped condensed">
                    <template slot="table-row" slot-scope="props">
                      <td>{{ props.row.testname }}</td>
                      <td>{{ props.row.testtime }}</td>
                      <td>{{ props.row.noofquestions }}</td>
                      <td>{{ props.row.totalmarks }}</td>
                      <td v-if="props.row.status == 'Inactive'">
                          <label class="switch" style="width: 60px;">
                              <input type="checkbox" @click="activeInactiveChange($event,props)">
                              <span class="slider round"></span>
                          </label>
                      </td>
                      <td v-else-if="props.row.status =='Active'">
                          <label class="switch" style="width: 60px;">
                              <input type="checkbox" @click="activeInactiveChange($event,props)" checked>
                              <span class="slider round"></span>
                          </label>
                      </td>
                   </template>
                   <template slot="table-row-after" slot-scope="props">
                      <td>
                        <img width="18" title="Edit" @click="editTestClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/pencil.gif">
                      </td>
                    </template>
    </vue-good-table>
  </div>
</div>
