<div id="login">
  <div class="loading" v-if='loader'>Loading&#8230;</div>
  
  <div class="container container-table">
      <div class="row vertical-10p">
        <div class="container">
          <img src="/static/img/logo.png" class="center-block logo">
          <div class="text-center col-md-4 col-sm-offset-4">
            <!-- login form -->
            <form class="ui form loginForm"  @submit="onSubmit">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input :class="errors.has('email') ? 'form-control error-input' : 'form-control correct-input'" v-model="forgotform.username" v-validate="'required|email'" placeholder="Enter Email" name='email' reqired autocomplete='off'>
                <!-- <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span> -->
              </div>
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                <input :class="errors.has('email') ? 'form-control error-input' : 'form-control correct-input'" v-model="forgotform.username" v-validate="'required|email'" placeholder="Enter Email" name='email' reqired autocomplete='off'>
                <!-- <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span> -->
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
            </form>
          </div>
        </div>
      </div>
  </div>
</div>
