<section class="assign-test" v-if="loginRole === '2'">
  <div class="uploads-container">
    <div class="form-box">
      <label class="headingForm">Uploads</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container fluid>
            <b-row class="my-1">
                <b-col sm="4"><label for="input-none">Select Type:</label></b-col>
                <b-col sm="8">
                    <b-form-select name="Type" v-model="uploads.type" v-validate="'required'" :options="options" class="mb-3">
                    </b-form-select>
                    <span v-show="errors.has('Type')" class="help is-danger">{{ errors.first('Type') }}</span>
                </b-col>
              </b-row>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Select File:</label></b-col>
            <b-col sm="8" style="text-align: left;">
              <vue-xlsx-table name="File" v-validate="'required'" @on-select-file="handleSelectedFile">Select File</vue-xlsx-table>
              <span style="margin-left: 28px;" v-show="errors.has('File')" class="help is-danger">{{ errors.first('File') }}</span>
            </b-col>
          </b-row>
        </b-container>
        <br>
        <b-button type="submit" variant="primary">Upload</b-button>
        <b-button type="reset" v-if="!isEdit" variant="secondary">Reset</b-button>
        <div v-if="notifySuccess" style="margin-top: 10px;">
          <span class="notification n-success"><b>{{responseMessage}}</b></span>
        </div>
        <div v-if="notifyError" style="margin-top: 10px;">
          <span class="notification n-error"><b>{{errorMessage}}</b></span>
        </div>
      </b-form>
    </div>
  </div>
</section>
