<section class="assign-test" v-if="loginRole === '2'">
    <router-link to="/Dashboard/TeacherList">
        <b-button variant="primary"> Go To Teacher List</b-button>
    </router-link>
    <div class="createteacher-container">
        <div class="form-box">
            <label class="headingForm">{{submitButtonText}} Teacher</label>
            <br>
            <b-form @submit="onSubmit">
                <b-container fluid>
                    <b-row class="my-1">
                        <b-col sm="5">
                            <label for="input-none">First Name</label>
                        </b-col>
                        <b-col sm="7">
                            <b-form-input id="name" type="text" name="First Name" v-model="createteacherform.firstname" v-validate="'required'" placeholder="Enter First Name"></b-form-input>
                            <span v-show="errors.has('First Name')" class="help is-danger">{{ errors.first('First Name') }}</span>
                          </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="5">
                            <label for="input-none">Last Name</label>
                        </b-col>
                        <b-col sm="7">
                            <b-form-input id="name" name="Last Name" type="text" v-model="createteacherform.lastname" v-validate="'required'" placeholder="Enter Last Name"></b-form-input>
                            <span v-show="errors.has('Last Name')" class="help is-danger">{{ errors.first('Last Name') }}</span>
                          </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="5">
                            <label for="email">Email</label>
                        </b-col>
                        <b-col sm="7">
                            <b-input-group left="📩" class="mb-2 mr-sm-2 mb-sm-0">
                                <b-form-input id="email" style="z-index: 0;" :state="null" type="email" v-model="createteacherform.username" v-validate="'required|email'" placeholder="Enter Email" name='Email'></b-form-input>
                            </b-input-group>
                            <span v-show="errors.has('Email')" class="help is-danger">{{ errors.first('Email') }}</span>
                        </b-col>
                    </b-row>
                   <!--  <b-row class="my-1">
                        <b-col sm="4">
                            <label for="input-none">Password</label>
                        </b-col>
                        <b-col sm="8">
                            <b-form-input id="input-none" :state="null" type="password" v-model="createteacherform.password" required placeholder="Enter Email"></b-form-input>
                        </b-col>
                    </b-row> -->
                    <b-row class="my-1">
                        <b-col sm="5">
                            <label for="input-none">Phone</label>
                        </b-col>
                        <b-col sm="7">
                            <b-input-group left="📞" class="mb-2 mr-sm-2 mb-sm-0">
                                <b-form-input id="input-none" style="z-index: 0;" :state="null" type="text" maxlength="15" v-validate="'required|numeric|min:10'" name='Phone' v-model="createteacherform.phone" placeholder="Enter Phone"></b-form-input>
                            </b-input-group>
                            <span v-show="errors.has('Phone')" class="help is-danger">{{ errors.first('Phone') }}</span>
                          </b-col>
                    </b-row>
                    <!-- Multi select -->
                    <b-row class="my-1">
                        <b-col sm="5">
                            <label for="input-none">Subject</label>
                        </b-col>
                        <b-col sm="7">
                            <multiselect v-model="subjectsVal.subjects" name="Subject" :options="subjectoptions" :multiple="true" v-validate="'required'" track-by="id" :custom-label="customLabel">
                            </multiselect>
                            <span v-show="errors.has('Subject')" class="help is-danger">{{ errors.first('Subject') }}</span>
                        </b-col>
                    </b-row>
                    <b-row class="my-1">
                        <b-col sm="5">
                            <label for="input-none">Allow Teacher to add Scale?</label>
                        </b-col>
                        <b-col sm="7" style="text-align: left;">
                            <label class="switch" style="width: 60px;">
                                <input v-model="createteacherform.teacher_allow_scale" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </b-col>
                    </b-row>
                    <b-row class="my-1" style="text-align: left;">
                        <b-col sm="5">
                            <label for="input-none">Allow Teacher to add Subject?</label>
                        </b-col>
                        <b-col sm="7">
                            <label class="switch" style="width: 60px;">
                                <input v-model="createteacherform.teacher_allow_subject" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </b-col>
                    </b-row>
                    <b-row class="my-1" style="text-align: left;">
                        <b-col sm="5">
                            <label for="input-none">Allow Teacher to add Student?</label>
                        </b-col>
                        <b-col sm="7">
                            <label class="switch" style="width: 60px;">
                                <input v-model="createteacherform.teacher_allow_student" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </b-col>
                    </b-row>
                    <b-row class="my-1" style="text-align: left;">
                        <b-col sm="5">
                            <label for="input-none">Allow Teacher for admin access? </label>
                        </b-col>
                        <b-col sm="7">
                            <label class="switch" style="width: 60px;">
                                <input v-model="createteacherform.isAdmin" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </b-col>
                    </b-row>
                    <b-row class="my-1" v-if="isEdit">
                        <b-col sm="5"><label for="input-none">Is Active?</label></b-col>
                        <b-col sm="7" style="text-align: left;">
                          <label class="switch" style="width: 60px;">
                                <input v-model="createteacherform.status" type="checkbox">
                                <span class="slider round"></span>
                            </label>
                        </b-col>
                    </b-row>
                </b-container>
                <br>
                <b-button type="submit" variant="primary">{{submitButtonText}}</b-button>
                <b-button type="reset" v-if="!isEdit" variant="secondary">Clear</b-button>
                <b-button type="button" v-if="isEdit" variant="secondary" @click='getTeacherData'>Reset</b-button>
                <div v-if="notifySuccess" style="margin-top: 10px;">
                    <span class="notification n-success"><b>{{responseMessage}}</b></span>
                </div>
                <div v-if="notifyError" style="margin-top: 10px;">
                    <span class="notification n-error"><b>{{errorMessage}}</b></span>
                </div>
            </b-form>
        </div>
    </div>
</section>
