<section class="select-questions-view">
  <!-- <router-view/> -->
  <b-container fluid>
    <b-row class="mb-1 text-center">
      <!--  <b-row class="my-1"> -->
      <b-col sm="1">
        <label for="input-none"><b>Filter By:</b></label>
      </b-col>
      <b-col sm="3">
        <b-form-select v-model="filterByObj.selected" :options="filterOptions" @change.native="filterChange()">
         <!--  <option :value="null">Please select an option</option>
          <option value="questionType">Question Type</option>
          <option value="subject">Subject</option>
          <option value="topic">Topic</option>
          <option value="scale">Scale</option>
          <option value="dateRange">Date Range</option> -->
        </b-form-select>
      </b-col>
      <b-col sm="3">
        <!--  <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Question Type">
                        </multiselect> -->
        <b-form-select v-show="filterByObj.questionType" v-model="createtest.categoryId" @change.native="categoryChange()" placeholder="Select Question" :options="questionTypeOptions" required class="mb-3">
        </b-form-select>
      </b-col>
      <b-col sm="3">
        <!-- <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Subject">
                        </multiselect> -->
        <b-form-select v-show="filterByObj.subject" v-model="createtest.subjectId" @change.native="subjectChange()" :options="subjectOptions" required class="mb-3">
        </b-form-select>
      </b-col>
      <b-col sm="3">
        <!-- <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Topic">
                        </multiselect> -->
        <b-form-select v-show="filterByObj.topic" v-model="createtest.topicId" :options="topicOptions" required class="mb-3">
        </b-form-select>
      </b-col>
      <b-col sm="3">
        <!-- <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Topic">
                        </multiselect> -->
        <b-form-select v-show="filterByObj.scale" v-model="createtest.scaleId" :options="scaleOptions" required class="mb-3">
        </b-form-select>
      </b-col>
      <b-col sm="3">
        <!-- <multiselect v-model="createtest.batch" :options="batchOptions" :multiple="true" track-by="id" :custom-label="customLabel" placeholder="Select Topic">
                        </multiselect> -->
        <!-- <b-form-select v-show="filterByObj.dateRange" v-model="createtest.topicId" :options="topicOptions" required class="mb-3">
        </b-form-select> -->
        <date-picker placeholder="--Select Date Range--" v-show="filterByObj.dateRange" v-model="createtest.validto" :config="config" required></date-picker>
      </b-col>
      <b-col sm="2">
        <b-button variant="success" @click="search()">S</b-button>
        <b-button variant="success" @click="reset()">R</b-button>
        <b-button variant="success" @click="confirm()">D</b-button>
      </b-col>
    </b-row>
    <b-row>
      <b-col sm="10"></b-col>
      <b-col sm="2">
        <a style="cursor: pointer;" @click="viewQues()"><u>{{selectedNumber.intialNum}}/{{selectedNumber.maxNum}} Question Selected</u></a>
      </b-col>
    </b-row>
    <!-- </b-row> -->
    <br>
    <b-row class="mb-1 text-center">
      <b-col sm="12">
        <vue-good-table title="" :columns="columns" :rows="rows" :lineNumbers="true" :defaultSortBy="{field: 'age', type: 'asc'}" :globalSearch="true" :paginate="true" styleClass="table condensed table-bordered table-striped">
          <template slot="table-row" scope="props">
            <td>
              <input type="checkbox" name="" @click="updateCheck(props.row)" :disabled="checkedQuestions.length >= selectedNumber.maxNum && !props.row.checked" v-model="props.row.checked">
            </td>
            <td>{{ props.row.createdAt }}</td>
            <td>{{ props.row.teacherName }}</td>
            <td>{{ props.row.scaleName }}</td>
            <td>{{ props.row.subjectName }}</td>
            <td v-html="props.row.question"></td>
            <td>{{ props.row.topicName }}</td>
          </template>
        </vue-good-table>
      </b-col>
    </b-row>
  </b-container>
</section>
