<section v-if="loginRole === '1'">
  <router-link to="/Dashboard/InstituteList">
    <b-button variant="primary"> Go To Institute List</b-button>
  </router-link>
  <div class="createinstitute-container">
    <div class="form-box">
      <label class="headingForm">{{submitButtonText}} Institute</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Name:</label></b-col>
            <b-col sm="7">
              <b-form-input id="name" type="text" v-model="createinstituteform.name" required placeholder="Enter Name"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Email:</label></b-col>
            <b-col sm="7">
              <b-form-input id="input-none" :state="null" type="text" v-model="createinstituteform.emailID" required placeholder="Enter Email"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Phone:</label></b-col>
            <b-col sm="7">
              <b-form-input id="input-none" :state="null" type="text" v-model="createinstituteform.phone" required placeholder="Enter Phone"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Address:</label></b-col>
            <b-col sm="7">
              <b-form-textarea id="dddddd" v-model="createinstituteform.address" required class="mb-3"></b-form-textarea>
            </b-col>
          </b-row>
          </b-form-fieldset>
        </b-container>
        <br>
        <b-button type="submit" variant="primary">{{submitButtonText}}</b-button>
        <b-button type="reset" v-if="!isEdit" variant="secondary">Reset</b-button>
        <div v-if="notifySuccess" style="margin-top: 10px;">
          <span class="notification n-success">{{responseMessage}}</span>
        </div>
        <div v-if="notifyError" style="margin-top: 10px;">
          <span class="notification n-error">{{errorMessage}}</span>
        </div>
      </b-form>
    </div>
  </div>
</section>
