<section v-if="loginRole === '1'">
  <router-link to="/Dashboard/InstituteList">
    <b-button variant="primary"> Go To Institute List</b-button>
  </router-link>
  <div class="createinstitute-container">
    <div class="form-box">
      <label class="headingForm">{{submitButtonText}} Institute</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Name*</label></b-col>
            <b-col sm="7">
              <b-form-input id="name" type="text" name="Name" v-model="createinstituteform.name" v-validate="'required'" placeholder="Enter Name"></b-form-input>
              <span v-show="errors.has('Name')" class="help is-danger">{{ errors.first('Name') }}</span>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Email</label></b-col>
            <b-col sm="7">
                <b-input-group left="📩" class="mb-2 mr-sm-2 mb-sm-0">
                  <b-form-input id="input-none" :state="null" type="text" v-model="createinstituteform.emailID" v-validate="'required|email'" name='Email' placeholder="Enter Email"></b-form-input>
                </b-input-group>
                <span v-show="errors.has('Email')" class="help is-danger">{{ errors.first('Email') }}</span>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Phone*</label></b-col>
            <b-col sm="7">
                <b-input-group left="📞" class="mb-2 mr-sm-2 mb-sm-0">
                    <b-form-input id="input-none" :state="null" type="text" v-model="createinstituteform.phone" v-validate="'required|numeric|min:10'" placeholder="Enter Phone" name='Phone' maxlength='15'></b-form-input>
                </b-input-group>
                <span v-show="errors.has('Phone')" class="help is-danger">{{ errors.first('Phone') }}</span>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Address*</label></b-col>
            <b-col sm="7">
              <!-- <b-form-textarea v-model="createinstituteform.address" placeholder="Enter Address" required class="mb-3"></b-form-textarea>-->
              <b-form-input :state="null" type="text" name="Address" placeholder="Enter Address" v-validate="'required'" v-model="createinstituteform.address"></b-form-input>
              <span v-show="errors.has('Address')" class="help is-danger">{{ errors.first('Address') }}</span>
            </b-col>
          </b-row>
          <!-- Toggle active/Inactive state -->
          <b-row class="my-1" v-if="isEdit">
            <b-col sm="5"><label for="input-none">Is Active?</label></b-col>
            <b-col sm="7" class='text-left'>
              <label class="answerCheckboxClass switch" style="width: 60px;">
                  <input v-model="createinstituteform.status" @click="activeToggle($event)" type="checkbox">
                  <span class="slider round"></span>
              </label>
            </b-col>
          </b-row>

          </b-form-fieldset>
        </b-container>
        <br>
        <b-button type="submit" variant="primary">{{submitButtonText}}</b-button>
        <b-button type="reset" v-if="!isEdit" variant="secondary">Clear</b-button>
        <!-- <b-button v-on:click="resetEdit" v-if="isEdit" variant="secondary">Reset</b-button> -->
        <div v-if="notifySuccess" style="margin-top: 10px;">
          <span class="notification n-success">{{responseMessage}}</span>
        </div>
        <div v-if="notifyError" style="margin-top: 10px;">
          <span class="notification n-error">{{errorMessage}}</span>
        </div>
      </b-form>
    </div>
  </div>
</section>
