<div class="createadmin-container" v-if="loginRole === '1'">
  <div class="form-box">
    <label class="headingForm">Create Admin</label>
    <br>
    <b-form @submit="onSubmit">
      <b-container fluid>
        <b-row class="my-1">
          <b-col sm="4"><label for="input-none">Name:</label></b-col>
          <b-col sm="8">
            <b-form-input id="name" type="text" v-model="createadminform.name" required placeholder="Enter Name"></b-form-input>
          </b-col>
          <!-- <b-col sm="8" class="form-group" v-bind:class="{ 'form-group--error': $v.createadminform.name.$error }">
              <b-form-input id="name" type="text" class="form__input" @input="$v.createadminform.name.$touch()" v-model="createadminform.name" required placeholder="Enter Name"></b-form-input>
              <span class="form-group__message" v-if="!$v.createadminform.name.required">Field is required</span><span class="form-group__message" v-if="!$v.createadminform.name.minLength">Name must have at least {{$v.createadminform.name.$params.minLength.min}} letters.</span>
            </b-col> -->
        </b-row>
        <b-row class="my-1">
          <b-col sm="4"><label for="input-none">Email:</label></b-col>
          <b-col sm="8">
            <b-form-input id="input" :state="null" type="email" v-model="createadminform.email" required placeholder="Enter Email"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="4"><label for="input-none">Phone:</label></b-col>
          <b-col sm="8">
            <b-form-input id="input-none" :state="null" type="text" maxlength="15" @keydown.native="onlyNumberKey" v-model="createadminform.phone" required placeholder="Enter Phone"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="4"><label for="input-none">Associated with:</label></b-col>
          <b-col sm="8">
            <b-form-select v-model="createadminform.associatedwith" :options="associatedOptions" required class="mb-3">
            </b-form-select>
          </b-col>
        </b-row>
      </b-container>
      <br>
      <b-button type="submit" variant="primary">Create</b-button>
      <b-button type="reset" variant="secondary">Reset</b-button>
      <div v-if="notifySuccess" style="margin-top: 10px;">
        <span class="notification n-success">Admin created successfully.</span>
      </div>
    </b-form>
  </div>
</div>
