<div class="login-container">
  <breadcrumb :breadcrumbs="this.breadcrumbs" :icon="'stripe icon'" :addbutton="{name: 'payments.create'}" newText="Charge">
  </breadcrumb>
  <div class="form-box">
    <label class="headingForm">Create Admin</label>
    <br>
    <b-form @submit="onSubmit">
      <b-container fluid>
        <b-row class="my-1">
          <b-col sm="2"><label for="input-none">First Name:</label></b-col>
          <b-col sm="4">
            <b-form-input id="firstName" type="text" v-model="createadminform.firstname" required placeholder="Enter First Name"></b-form-input>
          </b-col>
          <b-col sm="2"><label for="input-none">Last Name:</label></b-col>
          <b-col sm="4">
            <b-form-input id="lastName" type="text" v-model="createadminform.lastname" required placeholder="Enter Last Name"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1">
          <b-col sm="2"><label for="input-none">Username:</label></b-col>
          <b-col sm="4">
            <b-form-input id="input-none" :state="null" type="text" v-model="createadminform.username" placeholder="Enter Username"></b-form-input>
          </b-col>
          <b-col sm="2"><label for="input-none">Mobile Phone:</label></b-col>
          <b-col sm="4">
            <b-form-input id="input-none" :state="null" type="text" v-model="createadminform.mobilephone" placeholder="Enter Mobile Phone"></b-form-input>
          </b-col>
        </b-row>
      </b-container>
      <br>
      <b-button type="submit" variant="primary">Create</b-button>
      <b-button type="reset" variant="secondary">Reset</b-button>
    </b-form>
  </div>
</div>
