<section class="assign-test" v-if="loginRole === '2'">
    <router-link to="/Dashboard/Masters/TopicList">
      <b-button variant="primary"> Go To Topic List</b-button>
    </router-link>
    <div class="createtopic-container">
      <div class="form-box">
        <label class="headingForm">{{submitButtonText}} Topic</label>
        <br>
        <b-form @submit="onSubmit">
          <b-container fluid>
              <b-row class="my-1">
                  <b-col sm="4"><label for="input-none">Subject:</label></b-col>
                  <b-col sm="8">
                      <b-form-select v-model="createtopicform.subjectId" :options="subjectOptions" required class="mb-3">
                        </b-form-select>
                  </b-col>
                </b-row>
            <b-row class="my-1">
              <b-col sm="4"><label for="input-none">Topic Name:</label></b-col>
              <b-col sm="8">
                <b-form-input id="name" type="text" v-model="createtopicform.topicName" required placeholder="Enter Topic Name"></b-form-input>
              </b-col>
            </b-row>
          </b-container>
          <br>
          <b-button type="submit" variant="primary">{{submitButtonText}}</b-button>
          <b-button type="reset" v-if="!isEdit" variant="secondary">Reset</b-button>
          <div v-if="notifySuccess" style="margin-top: 10px;">
            <span class="notification n-success"><b>{{responseMessage}}</b></span>
          </div>
          <div v-if="notifyError" style="margin-top: 10px;">
            <span class="notification n-error"><b>{{errorMessage}}</b></span>
          </div>
        </b-form>
      </div>
    </div>
   <!-- Modal Component -->
   <b-modal size="sm" centered ref="notificationModal" v-model="show" title="Alert" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant">
    <b-container fluid>
      <b-row class="mb-1 text-center">
        <b-col cols="12">{{ModalMessage}}</b-col>
      </b-row>
    </b-container>
    <div slot="modal-footer" class="w-100">
      <p class="float-left"></p>
      <b-btn size="sm" class="float-right" style="margin-left: 5px;" variant="danger" @click="closeModal()">
       OK
      </b-btn>
    </div>
  </b-modal>
  <!-- Modal Component -->
  </section>
