<div v-if="loginRole === '2'">
  <router-link to="/Dashboard/Masters/CreateScale">
    <b-button variant="primary"><b>+ </b>Add Scale</b-button>
  </router-link>
  <br>
  <div style="background-color: white; border: 3px solid #E9ECEF;">
    <vue-good-table title="Scales" :columns="columnsScales" :rows="scaleList" :paginate="true" :globalSearch="true" :lineNumbers="true"
      styleClass="table table-bordered table-striped condensed">
      <template slot="table-row" slot-scope="props">
          <td>{{ props.row.scalename }}</td>
          <td>{{ props.row.points }}</td>
          <td>
              <label class="switch">
                  <input type="checkbox"  style="display:none" @click="activeInactiveChange($event,props)" :checked="props.row.status =='Active'">
                  <span class="slider round"></span>
              </label>
          </td>
      </template>
      <template slot="table-row-after" slot-scope="props">
        <td>
          <img width="18" title="Edit" @click="editScaleClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/pencil.gif">
          <!-- <img width="18" title="Delete" @click="deleteScaleClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/delete.png"> -->
        </td>
      </template>
    </vue-good-table>
  </div>
</div>
