<div v-if="loginRole === '2'">
  <router-link to="/Dashboard/Masters/CreateSubject">
    <b-button variant="primary"><b>+ </b>Add Subject</b-button>
  </router-link>
  <br><br>
  <div style="background-color: white; border: 3px solid #E9ECEF;">
    <vue-good-table title="List of Subjects" :columns="columnsSubjects" :rows="subjectList" :paginate="true" :globalSearch="true" :lineNumbers="true"
      styleClass="table table-bordered table-striped condensed" v-if='subjectList.length'>
      <template slot="table-row" slot-scope="props">
          <td>{{ props.row.subjectname }}</td>
          <td>
              <label class="switch">
                  <input type="checkbox" @click="activeInactiveChange($event,props)" :checked="props.row.status =='Active'" style='display:none'>
                  <span class="slider round"></span>
              </label>
          </td>
      </template>
      <template slot="table-row-after" slot-scope="props">
        <td>
          <img width="18" title="Edit" @click="editSubjectClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/pencil.gif">
          <!-- <img width="18" title="Delete" @click="deleteSubjectClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/delete.png"> -->
        </td>
      </template>
    </vue-good-table>
    <div class="loading" v-if='loader'>Loading&#8230;</div>
    <img src='../../assets/images/nodatafound.jpeg' v-if='!subjectList.length && !loader' />
  </div>
</div>
