<section class="assign-test" v-if="loginRole === '2'">
  <router-link to="/Dashboard/Masters/BatchList">
    <b-button variant="primary"> Go To Batch List</b-button>
  </router-link>
  <div class="createbatch-container">
    <div class="form-box">
      <label class="headingForm">{{submitButtonText}} Batch</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Batch Name:</label></b-col>
            <b-col sm="8">
              <b-form-input id="name" type="text" v-model="createbatchform.batchName" required placeholder="Enter Batch Name"></b-form-input>
            </b-col>
          </b-row>
        </b-container>
        <br>
        <b-button type="submit" variant="primary">{{submitButtonText}}</b-button>
        <b-button type="reset" v-if="!isEdit" variant="secondary">Reset</b-button>
        <div v-if="notifySuccess" style="margin-top: 10px;">
          <span class="notification n-success"><b>{{responseMessage}}</b></span>
        </div>
        <div v-if="notifyError" style="margin-top: 10px;">
          <span class="notification n-error"><b>{{errorMessage}}</b></span>
        </div>
      </b-form>
    </div>
  </div>
</section>
