<div v-if="loginRole === '3' || loginRole === '2'">
  <router-link to="/Dashboard/CreateQuestion">
    <b-button v-b-modal.modalAddInstitute variant="primary"><b>+ </b>Add Question</b-button>
  </router-link>
  <br><br>
  <div class="tab">
      <input id="tab-one" style="display: none" type="checkbox" name="tabs">
      <label for="tab-one" class="FilterPanel">+ Filters</label>
      <div class="tab-content">
          <b-row class="my-1">
              <b-col sm="2">
                </b-col>
                <b-col sm="4">
                    <b-form-select v-model="filters.scale" :options="questionTypeOptions" class="mb-3">
                      </b-form-select>
                </b-col>
                  <b-col sm="4">
                    <b-form-select v-model="filters.subject" :options="subjectOptions" class="mb-3">
                    </b-form-select>
                  </b-col>
              <b-col sm="2">
              </b-col>
            </b-row>
            <b-row class="my-1">
                <b-col sm="2">
                  </b-col>
                  <b-col sm="4">
                      <b-form-select v-model="filters.topic" :options="topicOptions" class="mb-3">
                        </b-form-select>
                  </b-col>
                    <b-col sm="4">
                        <b-form-select v-model="filters.teacher" :options="teacherOptions" class="mb-3">
                          </b-form-select>
                    </b-col>
                <b-col sm="2">
                </b-col>
              </b-row>
            <b-row class="my-1">
                <b-col sm="2"></b-col>
                <b-col sm="4">
                    <date-picker placeholder="Select Date Range" v-model="filters.fromdate" :config="config"></date-picker>
                </b-col>
                <b-col sm="4">
                    <b-button variant="primary">Search</b-button>
                    <b-button variant="primary" style="margin-left: 3px;">Reset</b-button>
                </b-col>
                <b-col sm="2"></b-col>
            </b-row>
            <br>
      </div>
    </div>
    <br>
  <div style="background-color: white; border: 3px solid #E9ECEF;">
    <vue-good-table title="Questions List" :columns="columnsQuestions" :rows="questionList" :paginate="true" :globalSearch="true"
     :lineNumbers="true" styleClass="table table-bordered table-striped condensed">
     <template slot="table-row" slot-scope="props">
        <td style="text-align: left;" v-html="props.row.question"></td>
        <td>{{ props.row.scale }}</td>
        <td>{{ props.row.subject }}</td>
        <td>{{ props.row.topic }}</td>
        <td>{{ props.row.teacherName }}</td>
        <td>{{ props.row.createdAt | formatDate }}</td>
        <td v-if="props.row.status == 'Inactive'">
            <label class="switch" style="width: 60px;">
                <input type="checkbox" @click="activeInactiveChange($event,props)">
                <span class="slider round"></span>
            </label>
        </td>
        <td v-else-if="props.row.status =='Active'">
            <label class="switch" style="width: 60px;">
                <input type="checkbox" @click="activeInactiveChange($event,props)" checked>
                <span class="slider round"></span>
            </label>
        </td>
     </template>
     <template slot="table-row-after" slot-scope="props">
        <td>
          <img width="18" title="Edit" @click="editQuestionClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/pencil.gif">
          <img width="20" title="View" @click="getQuestionDetails(props)" style="cursor: pointer;" height="20" src="../../assets/images/view.png">
          <!-- <img width="18" title="Delete" @click="deleteQuestionClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/delete.png"> -->
        </td>
      </template>
    </vue-good-table>
  </div>
  <!-- Modal Component -->
  <b-modal centered ref="deleteModal" title="Delete Confirmation" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant">
      <b-container fluid>
        <b-row class="mb-1 text-center">
          <b-col cols="12">Are you sure you want to delete?</b-col>
        </b-row>
      </b-container>
      <div slot="modal-footer" class="w-100">
        <p class="float-left"></p>
        <b-btn size="sm" class="float-right" style="margin-left: 5px;" variant="secondary" @click="closeModal()">
          No
        </b-btn>
        <b-btn size="sm" class="float-right" variant="danger" @click="deleteConfirmation()">
          Yes
        </b-btn>
      </div>
    </b-modal>
    <!-- Modal Component -->
</div>
