<div v-if="loginRole === '3' || loginRole === '2'">
  <router-link to="/Dashboard/CreateQuestion">
    <b-button v-b-modal.modalAddInstitute variant="primary"><b>+ </b>Add Question</b-button>
  </router-link>
  <br>
  <div style="background-color: white; border: 3px solid #E9ECEF;">
    <vue-good-table title="Questions" :columns="columnsQuestions" :rows="questionList" :paginate="true" :globalSearch="true"
      :lineNumbers="true" styleClass="table table-bordered table-striped condensed">
      <template slot="table-row-after" slot-scope="props">
        <td>
          <img width="18" title="Edit" @click="editQuestionClick(props.index)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/pencil.gif">
          <img width="18" title="Delete" @click="deleteQuestionClick(props.index)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/delete.png">
        </td>
      </template>
    </vue-good-table>
  </div>
</div>
