<div class="container_12">
  <!-- Dashboard icons -->
  <div class="grid_12">
    <router-link to="/Dashboard/CreateAdmin" v-if="isUserSuperAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/newadmin.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_write.gif" width="64" height="64" alt="edit" />
                      <!-- <span><router-link to="/Dashboard/CreateAdmin"></router-link></span> -->
                      <span>Create Admin</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateTeacher" v-if="isUserAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/teacher.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                      <span>Create Teacher</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateStudent" v-if="isUserAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/student.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                      <span>Create Student</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateQuestion" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/question.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                      <span>Create Question</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateTest" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/addtests.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Create Test</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/AssignTest" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/assigntest.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Assign Test</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/StartTest" v-if="isUserStudent">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/starttest.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Start Test</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateInstitute" v-if="isUserSuperAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/institutionicon.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Create Institute</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/QuestionBank" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
                      <img src="../../assets/images/questionbank.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_settings.gif" width="64" height="64" alt="edit" />
                      <span>Question Bank</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/TestList" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
        <img src="../../assets/images/tests.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_settings.gif" width="64" height="64" alt="edit" />
        <span>Tests</span>
      </a>
    </router-link>
    <masters></masters>
    <div style="clear: both"></div>

  </div>
  <!-- End .grid_7 -->
  <div style="clear:both;"></div>
</div>
<!-- End .container_12 -->
