<div class="container_12">



  <!-- Dashboard icons -->
  <div class="grid_12">
    <router-link to="/Dashboard/CreateAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/newadmin.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_write.gif" width="64" height="64" alt="edit" />
                      <!-- <span><router-link to="/Dashboard/CreateAdmin"></router-link></span> -->
                      <span>New Admin</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateTest">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/addtests.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Create Test</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/question.jpg" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                      <span>Add Questions</span>
                    </a>
    </router-link>
    <!--
    <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/Crystal_Clear_calendar.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_calendar.gif" width="64" height="64" alt="edit" />
                      <span>Calendar</span>
                    </a> -->
    <router-link to="/Dashboard">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/Crystal_Clear_user.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_user.gif" width="64" height="64" alt="edit" />
                      <span>My profile</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/Crystal_Clear_stats.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_stats.gif" width="64" height="64" alt="edit" />
                      <span>Reports</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/Crystal_Clear_settings.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_settings.gif" width="64" height="64" alt="edit" />
                      <span>Settings</span>
                    </a>
    </router-link>
    <div style="clear: both"></div>
  </div>
  <!-- End .grid_7 -->

  <div style="clear:both;"></div>
</div>
<!-- End .container_12 -->
