<div class="container_12">
  <!-- Dashboard icons -->
  <div class="grid_12">
    <router-link to="/Dashboard/CreateAdmin" v-if="isUserSuperAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/newadmin.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_write.gif" width="64" height="64" alt="edit" />
                      <!-- <span><router-link to="/Dashboard/CreateAdmin"></router-link></span> -->
                      <span>Create Admin</span>
                    </a>
    </router-link>
    <router-link to="/CreateTeacher" v-if="isUserAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/teacher.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                      <span>Create Teacher</span>
                    </a>
    </router-link>
    <router-link to="/CreateStudent" v-if="isUserAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/student.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                      <span>Create Student</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateQuestion" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/question.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_files.gif" width="64" height="64" alt="edit" />
                      <span>Create Question</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard/CreateTest" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/addtests.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Create Test</span>
                    </a>
    </router-link>
    <router-link to="/AssignTest" v-if="isUserTeacher">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/assigntest.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Assign Test</span>
                    </a>
    </router-link>
    <router-link to="/StartTest" v-if="isUserStudent">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/starttest.png" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_file.gif" width="64" height="64" alt="edit" />
                      <span>Start Test</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard" v-if="isUserSuperAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/Crystal_Clear_user.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_user.gif" width="64" height="64" alt="edit" />
                      <span>My profile</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard" v-if="isUserSuperAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/Crystal_Clear_stats.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_stats.gif" width="64" height="64" alt="edit" />
                      <span>Reports</span>
                    </a>
    </router-link>
    <router-link to="/Dashboard" v-if="isUserSuperAdmin">
      <a href="" class="dashboard-module">
                      <img src="../../assets/dashboardfiles/Crystal_Clear_settings.gif" tppabs="http://www.xooom.pl/work/magicadmin/images/Crystal_Clear_settings.gif" width="64" height="64" alt="edit" />
                      <span>Settings</span>
                    </a>
    </router-link>
    <div style="clear: both"></div>
  </div>
  <!-- End .grid_7 -->
  <div style="clear:both;"></div>
</div>
<!-- End .container_12 -->
