<div class="container">
   <div class="loading" v-if='loader'>Loading&#8230;</div>
   <div class="avatar-flip1">
      <img class="profileimage" @click='editImageFunction()' :src="localImage || profileData.image" height="150" width="150">
      <input id='imageUrl' type="file" @change="onFileChange" style='display:none'>
   </div>
   <div>
      <b-row class="my-1">
         <b-col sm="6">
            <b-form-input type="text" name="First Name" v-model="profileData.firstname" v-validate="'required'" placeholder="Enter First Name"></b-form-input>
            <span v-show="errors.has('First Name')" class="help is-danger">{{ errors.first('First Name') }}</span>
         </b-col>
         <b-col sm="6">
            <b-form-input type="text" name="Last Name" v-model="profileData.lastname" v-validate="'required'" placeholder="Enter Last Name"></b-form-input>
            <span v-show="errors.has('Last Name')" class="help is-danger">{{ errors.first('Last Name') }}</span>
         </b-col>
      </b-row>
   </div>
   <div class="form-box">
      <b-form>
         <b-row class="my-1">
            <!-- <b-col sm="6">
               <b-form-input type="text" v-model="profileData.username" required placeholder="Enter Email"></b-form-input>
            </b-col> -->
            <b-col sm="6">
                <b-input-group left="📞" class="mb-2 mr-sm-2 mb-sm-0">
                    <b-form-input type="text" name="Phone" v-model="profileData.phone" v-validate="'required|numeric|min:10'" placeholder="Enter Phone" maxlength='15'></b-form-input>
                </b-input-group>
                    <span v-show="errors.has('Phone')" class="help is-danger">{{ errors.first('Phone') }}</span>
            </b-col>
         </b-row>
      </b-form>
   </div>
   <b-form-input type="text" v-model="profileData.desciption" placeholder="Enter About You"></b-form-input>
   <div>
      <br>
      <b-button  type="submit" v-on:click="updateClick()" variant="primary">Update</b-button>
      <b-button type="reset" v-on:click="cancelClick()" variant="secondary">Cancel</b-button>
   </div>
</div>
