<section class="assign-test">
  <div class="adminconfig-container" v-if="loginRole === '2'">
    <div class="form-box">
      <label class="headingForm">Admin Configuration</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Scale:</label></b-col>
            <b-col sm="7">
              <multiselect v-model="value" :options="scaleOptions" :multiple="true" :close-on-select="false" :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick scale" label="text" track-by="text">
                <template slot="tag" slot-scope="props"><span class="multiTextClass"><span>&nbsp;{{ props.option.text }}</span><span class="custom__remove" @click="props.remove(props.option)">❌</span></span></template>
              </multiselect>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="5"><label for="input-none">Allow Teacher to add Scale?:</label></b-col>
            <b-col sm="7">
              <b-form-checkbox id="checkbox1" style="width: 0%" v-model="status" value="accepted" unchecked-value="false">
              </b-form-checkbox>
            </b-col>
          </b-row>
        </b-container>
        <br>
        <b-button type="submit" variant="primary">Save</b-button>
        <b-button type="reset" variant="secondary">Reset Default</b-button>
        <success-notification v-if="notifySuccess">Configuration saved successfully</success-notification>
      </b-form>
    </div>
  </div>
</section>
