<section class="assign-test" v-if="loginRole === '2'">
  <div class="adminconfig-container">
    <div class="form-box">
      <label class="headingForm">Admin Configuration</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="6"><label for="input-none">Allow Teacher to add Scale?:</label></b-col>
            <b-col sm="6">
              <label class="switch" style="width: 60px;">
                <input v-model="adminconfigurationform.allow_scale" value="true" type="checkbox">
                <span class="slider round"></span>
              </label>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="6"><label for="input-none">Allow Teacher to add Subject?:</label></b-col>
            <b-col sm="6">
              <label class="switch" style="width: 60px;">
                    <input v-model="adminconfigurationform.allow_subject" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="6"><label for="input-none">Allow Teacher to add Batch?:</label></b-col>
            <b-col sm="6">
              <label class="switch" style="width: 60px;">
                    <input v-model="adminconfigurationform.allow_batch" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </b-col>
          </b-row>
          <b-row class="my-1">
              <b-col sm="6"><label for="input-none">Allow Teacher to add Topic?:</label></b-col>
              <b-col sm="6">
                <label class="switch" style="width: 60px;">
                      <input v-model="adminconfigurationform.allow_topic" type="checkbox">
                      <span class="slider round"></span>
                  </label>
              </b-col>
            </b-row>
          <b-row class="my-1">
            <b-col sm="6"><label for="input-none">Allow Teacher to add Student?:</label></b-col>
            <b-col sm="6">
              <label class="switch" style="width: 60px;">
                    <input v-model="adminconfigurationform.allow_student" type="checkbox">
                    <span class="slider round"></span>
                </label>
            </b-col>
          </b-row>
        </b-container>
        <br>
        <b-button type="submit" variant="primary">Save</b-button>
        <b-button @click='resetAll()' type='reset' variant="secondary">Reset Default</b-button>
      </b-form>
    </div>
  </div>
</section>
