<!-- <div id="dashboard">
    <div id="header">
        <div id="header-status">
            <div class="container_12">
                <div class="grid_8">
                    &nbsp;
                </div>
                <div class="grid_4">
                    <a class="simpletext" style="color: #02BEEE;">
                    <b>
                    Welcome,&nbsp;
                    {{loginUserName}} | 
                    {{SecondryRolename ? 'Teacher' : loginRole}}
                    </b>
                    </a>
                    <router-link id="logout" @click.native="logout()" to="/">Logout</router-link>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="header-main">
            <div class="container_12">
                <div class="grid_12">
                    <div id="logo">
                        <ul id="nav">
                        </ul>
                    </div>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="clear: both;"></div>
        <div id="subnav">
            <b-row v-if='SecondryRolename'>
                <b-col sm="11">
                </b-col>
                <b-col sm="1" style='float:right'>
                    <label class="switch">
                    <input v-model="asAdminToggle" type="checkbox"  @change='roleToggle'> 
                    <span class="slider round"></span>
                    </label>
                </b-col>
            </b-row>
            <div class="container_12">
            </div>
            <div style="clear: both;"></div>
        </div>
        <b>
            <breadcrumbs/>
        </b>
    </div>
    <div style='margin:0 30px'>
        <router-view/>
    </div>
    <slot></slot>
    <div id="footer">
        <div class="container_12">
            <div class="grid_12">
                <p>&copy; 2017. All rights reserved.</p>
            </div>
        </div>
        <div style="clear:both;"></div>
    </div>
</div> -->
<!-- <label for="input-none">{{asAdminToggle}}Allow Teacher to act as ADMIN:</label> -->

<div id="dashboard">
    <div :class="['wrapper', classes]">
        <header class="main-header">
            <span class="logo-mini">
            <a><img src="/static/img/copilot-logo-white.svg" alt="Logo" class="img-responsive center-block logo"></a>
            </span>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="javascript:;" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                </a>
                <div>
                    <a class="simpletext" style="color: #02BEEE;">
                    <b>
                    Welcome,&nbsp;
                    {{loginUserName}} | 
                    {{SecondryRolename ? 'Teacher' : loginRole}}
                    </b>
                    </a>
                    <router-link id="logout" @click.native="logout()" to="/">Logout</router-link>
                </div>
                <!-- Role Toggle for Teacher as admin -->
                <b-row v-if='SecondryRolename'>
                    <b-col sm="11">
                        <!-- <label for="input-none">{{asAdminToggle}}Allow Teacher to act as ADMIN:</label> -->
                    </b-col>
                    <b-col sm="1" style='float:right'>
                        <label class="switch">
                        <input v-model="asAdminToggle" type="checkbox"  @change='roleToggle'> 
                        <span class="slider round"></span>
                        </label>
                    </b-col>
                </b-row>
                <!-- ########################## -->
            </nav>
        </header>
        <sidebar display-name="Pardeep Jain" picture-url="/static/img/profile-icon.jpg" />
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    <!-- {{$route.name.toUpperCase() }} -->
                    <!-- <small>{{ $route.meta.description }}</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <a href="javascript:;">
                            <!-- <i class="fa fa-home"></i> -->
                            <breadcrumbs/>
                        </a>
                    </li>
                    <!-- <li class="active">{{$route.name.toUpperCase()}}</li> -->
                </ol>
            </section>
            <router-view></router-view>
        </div>
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2017
            <a href="javascript:;">MEAN STACK</a>.</strong> All rights reserved.
        </footer>
    </div>
</div>