<div v-if="loginRole === '2'">
  <router-link to="/Dashboard/CreateStudent">
    <b-button variant="primary"><b>+ </b>Add Student</b-button>
  </router-link>
  <br><br>
  <div class="tab">
      <input id="tab-one" style="display: none" type="checkbox" name="tabs">
      <label for="tab-one" class="FilterPanel">+ Filters</label>
      <div class="tab-content">
          <b-row class="my-1">
              <b-col sm="2">
                </b-col>
                <b-col sm="4">
                    <b-form-select v-model="filters.scale" :options="questionTypeOptions" class="mb-3">
                      </b-form-select>
                </b-col>
                  <b-col sm="4">
                    <b-form-select v-model="filters.subject" :options="subjectOptions" class="mb-3">
                    </b-form-select>
                  </b-col>
              <b-col sm="2">
              </b-col>
            </b-row>
            <b-row class="my-1">
                <b-col sm="2">
                  </b-col>
                  <b-col sm="4">
                      <b-form-select v-model="filters.topic" :options="topicOptions" class="mb-3">
                        </b-form-select>
                  </b-col>
                    <b-col sm="4">
                        <b-form-select v-model="filters.teacher" :options="teacherOptions" class="mb-3">
                          </b-form-select>
                    </b-col>
                <b-col sm="2">
                </b-col>
              </b-row>
            <b-row class="my-1">
                <b-col sm="2"></b-col>
                <b-col sm="4">
                    <date-picker placeholder="Select Date Range" v-model="filters.fromdate" :config="config"></date-picker>
                </b-col>
                <b-col sm="4">
                    <b-button variant="primary">Search</b-button>
                    <b-button variant="primary" style="margin-left: 3px;">Reset</b-button>
                </b-col>
                <b-col sm="2"></b-col>
            </b-row>
            <br>
      </div>
    </div>
    <br>
  <div style="background-color: white; border: 3px solid #E9ECEF;">
    <vue-good-table title="Students" :columns="columnsStudents" :rows="studentList" :paginate="true" :globalSearch="true" :lineNumbers="true"
      styleClass="table table-bordered table-striped condensed">
      <template slot="table-row" slot-scope="props">
          <td>{{ props.row.firstname }} {{ props.row.lastname }}</td>
          <td>{{ props.row.batch }}</td>
          <td>{{ '+91-'+props.row.phone || '-'  }}</td>
          <td>{{ props.row.email }}</td>
          <td v-if="props.row.status =='Inactive'">
              <label class="switch" style="width: 60px;">
                  <input type="checkbox" @click="activeInactiveChange($event,props)">
                  <span class="slider round"></span>
              </label>
          </td>
          <td v-else-if="props.row.status =='Active'">
              <label class="switch" style="width: 60px;">
                  <input type="checkbox" @click="activeInactiveChange($event,props)" checked>
                  <span class="slider round"></span>
              </label>
          </td>
      </template>
      <template slot="table-row-after" slot-scope="props">
        <td>
          <img width="18" title="Edit" @click="editStudentClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/pencil.gif">
          <!-- <img width="18" title="Delete" @click="deleteStudentClick(props)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/delete.png"> -->
        </td>
      </template>
    </vue-good-table>
  </div>
</div>
