<div id="login">
  <!-- <rotate-square2 class='loader'></rotate-square2> -->
  <div class="loading" v-if='loader'>Loading&#8230;</div>
  <div class="login-container">
    <div class="avatar"></div>
    <div class="form-box">
      <b-form @submit="onSubmit">
        <b-form-group id="frmGrpUserName" label="User Name" label-for="userName">
          <b-form-input id="userName" type="text" v-model="loginform.username" v-validate="'required|email'" placeholder="Enter Username" name='email'></b-form-input>
          <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
        </b-form-group>
        <b-form-group id="frmGrpPassword" label="Password" label-for="password">
          <b-form-input id="password" type="password" v-model="loginform.password" v-validate="'required|min:6'" name='password' placeholder="Enter Password"></b-form-input>
          <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>
        </b-form-group>
        <b-form-group id="frmGrpRememberMe">
          <b-form-checkbox v-model="loginform.rememberme" id="rememberMe">
            Remember Me
          </b-form-checkbox>
        </b-form-group>
        <b-button type="submit" variant="primary">Login</b-button>
        <b-button type="reset" variant="secondary">Reset</b-button>
        <br>
        <label class="errortext">{{errorMessage}}</label>
      </b-form>
    </div>
  </div>

  <!-- <div class="container">
    <form class="signUp">
      <h3>Create Your Account</h3>
      <p>Just enter your email address</br>
        and your password for join.
      </p>
      <input class="w100" type="email" placeholder="Insert eMail" reqired autocomplete='off' />
      <input type="password" placeholder="Insert Password" reqired />
      <input type="password" placeholder="Verify Password" reqired />
      <button class="form-btn sx log-in" type="button">Log In</button>
      <button class="form-btn dx" type="submit">Sign Up</button>
    </form>
    <form class="signIn">
      <h3>Welcome</br>Back !</h3>
      <button class="fb" type="button">Log In With Facebook</button>
      <p>- or -</p>
      <input type="email" placeholder="Insert eMail" autocomplete='off' reqired />
      <input type="password" placeholder="Insert Password" reqired />
      <button class="form-btn sx back" type="button">Back</button>
      <button class="form-btn dx" type="submit">Log In</button>
    </form>
  </div> -->
</div>
