<div id="login">
  <div class="login-container">
    <div class="avatar"></div>
    <div class="form-box">
      <b-form @submit="onSubmit">
        <b-form-group id="frmGrpUserName" label="User Name:" label-for="userName">
          <b-form-input id="userName" type="text" v-model="loginform.username" required placeholder="Enter Username"></b-form-input>
        </b-form-group>
        <b-form-group id="frmGrpPassword" label="Password:" label-for="password">
          <b-form-input id="password" type="password" v-model="loginform.password" required placeholder="Enter Password"></b-form-input>
        </b-form-group>
        <b-form-group id="frmGrpRememberMe">
          <b-form-checkbox v-model="loginform.rememberme" id="rememberMe">
            Remember Me
          </b-form-checkbox>
        </b-form-group>
        <b-button type="submit" variant="primary">Login</b-button>
        <b-button type="reset" variant="secondary">Reset</b-button>
        <p class='label-signup'>
          Not a member ?
          <router-link to="/Register">Signup here</router-link>
        </p>
      </b-form>
    </div>
  </div>
</div>
