<div id="login">
<div class="login-container" v-if='is_login_email'>
	<div class="avatar"></div>
	<div class="form-box">
      <b-form @submit="onSubmit">
          <b-form-group id="frmGrpUserName" label="User Name:" label-for="userName">
            <b-form-input id="userName" type="text" v-model="loginform.username" required placeholder="Enter Username"></b-form-input>
          </b-form-group>
          <b-form-group id="frmGrpPassword" label="Password:" label-for="password">
            <b-form-input id="password" type="password" v-model="loginform.password" required placeholder="Enter Password"></b-form-input>
          </b-form-group>
          <b-form-group id="frmGrpRememberMe">
            <b-form-checkbox v-model="loginform.rememberme" id="rememberMe">
              Remember Me
            </b-form-checkbox>
          </b-form-group>
          <b-button type="submit" variant="primary">Login</b-button>
          <b-button type="reset" variant="secondary">Reset</b-button>
          <p class='label-signup'>
              Not a member ?
              <router-link to="/Register">Signup here</router-link>
            </p>
        </b-form>
	</div>
</div>

<div class='social-media-container' v-if='!is_login_email'>
	<p class='label-login'>CHOOSE AN OPTION BELOW</p>
	<button class='login-btn' v-on:click='is_login_email = !is_login_email'>Login in with Email</button>
	<img src="assets/images/sep-or.png" class='or-sep'>
	<div class='btn-container'>
		<button class='login-btn-social google' :disabled='loader' v-on:click="signIn('google')">
			Google
		</button>
		<button class='login-btn-social fb' :disabled='loader' v-on:click="signIn('facebook')">
			Facebook
		</button>
		<button class='login-btn-social twitter' :disabled='loader' v-on:click="twitterSignin()">			Twitter
		</button>
	</div>
	<p class='label-signup'>
    Not a member ?
    <router-link to="/Register">Signup here</router-link>
	</p>
</div>
</div>
