<section class="assign-test" v-if="loginRole === '3'">
  <div class="createadmin-container">
    <div class="form-box">
      <label class="headingForm">Assign Test</label>
      <br>
      <b-form @submit="onSubmit">
        <b-container fluid>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Select Test:</label></b-col>
            <b-col sm="8">
              <b-form-select v-model="assigntestform.selecttest" :options="testOptions" required class="mb-3">
              </b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Select Student:</label></b-col>
            <b-col sm="8">
              <b-form-select v-model="assigntestform.selectstudent" :options="studentOptions" required class="mb-3">
              </b-form-select>
            </b-col>
          </b-row>
          <b-row class="my-1">
            <b-col sm="4"><label for="input-none">Valid By:</label></b-col>
            <b-col sm="8">
              <date-picker placeholder="click me" v-model="assigntestform.validby" v-on:keyup="alert(33)" :config="config" required></date-picker>
            </b-col>
          </b-row>
        </b-container>
        <br>
        <b-button type="submit" variant="primary">Assign</b-button>
        <b-button type="reset" variant="secondary">Reset</b-button>
      </b-form>
    </div>
  </div>
</section>
