<div v-if="loginRole === '2'">
  <router-link to="/Dashboard/CreateTeacher">
    <b-button v-b-modal.modalAddInstitute variant="primary"><b>+ </b>Add Teacher</b-button>
  </router-link>
  <br>
  <div style="background-color: white; border: 3px solid #E9ECEF;">
    <vue-good-table title="Teachers" :columns="columnsTeachers" :rows="teacherList" :paginate="true" :globalSearch="true" :lineNumbers="true" styleClass="table table-bordered table-striped condensed">
      <template slot="table-row-after" slot-scope="props">
        <td>
          <img width="18" title="Edit" @click="editTeacherClick(props.index)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/pencil.gif">
          <img width="18" title="Delete" @click="deleteTeacherClick(props.index)" style="cursor: pointer;" height="18" src="../../assets/dashboardfiles/delete.png">
        </td>
      </template>
    </vue-good-table>
  </div>
</div>
